nav {
    background-color: #26a69a;
}
.row {
    margin: 3em auto;
}
nav .brand-logo {
    margin: 0 1em;
}
.row .progress {
    margin: 1em auto;
    float: none;
}
#btn-submit, .btn {
    margin: 2em;
}