<div class="nav-wrapper">
    <a href="#!" class="brand-logo">Form</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
        <li><a href="index.html">Шаг1</a></li>
        <li><a href="step2.html">Шаг2</a></li>
        <li><a href="step3.html">Шаг3</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
        <li><a href="index.html">Шаг1</a></li>
        <li><a href="step2.html">Шаг2</a></li>
        <li><a href="step3.html">Шаг3</a></li>
    </ul>
</div>